<!DOCTYPE html>
<html lang="ko">
    <head th:replace="/common :: head">
    </head>
    <body>
        <nav th:replace="/common :: navbar(${menus})"></nav>
        <!-- Page content -->
        <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-center g-0 min-vh-100">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
              <!-- Card -->
              <div class="card shadow ">
                <!-- Card body -->
                <div class="card-body p-6">
                  
                  <!-- Form -->
                  <form>
                      
                      
                    
                    <hr class="my-4">
                    <div class="mt-4 text-center">
                      <a href="/oauth2/authorization/kakao" class="btn active" role="button">
                        <img src="/assets/images/png/kakao_login.png" width="135px"/>
                      </a>
                      <a href="/oauth2/authorization/naver" class="btn active" role="button">
                        <img src="/assets/images/png/naver_login.png" width="135px"/>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div th:replace="/common :: footer"></div>
        <div th:replace="/common :: scripts"></div>
    </body>
</html>